@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-blue: #1155CC; 
  --color-black: #3F3F3F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-krona: "Krona One", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  
  --color-brand-blue: var(--color-blue);
  --color-brand-black: var(--color-black);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
